@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: "Poppins", sans-serif;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.purple-text {
  color: #5a2867;
}
.gradient-background-horizontal {
  background: linear-gradient(90deg, #522182 0%, #904db6 47.12%, #4f1c54 100%);
}
.button-gradient-background {
  background: linear-gradient(90deg, #5d298b 0%, #521e58 100%);
}

.two-color-gradient-background {
  background: linear-gradient(180deg, #5d298b 0%, #521e58 100%);
}
.two-color-gradient-background-vertical {
  background: linear-gradient(0deg, #5d298b 0%, #521e58 100%);
}

.opacity-50-bg {
  background: linear-gradient(
    0deg,
    rgba(93, 41, 139, 0.8) 0%,
    rgba(82, 30, 88, 0.8) 100%
  );
}

.shadow-basic {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.shadow-small {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

/* Default scrollbar width */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Adjust width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 10px;
}

/* Style the scrollbar thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

/* Default scrollbar width */
.services-horizontal-scrollbar::-webkit-scrollbar {
  height: 10px; /* Adjust width */
}

@media (min-width: 1031px) {
  .services-horizontal-scrollbar::-webkit-scrollbar {
    height: 0; /* Set height to 0 for screens larger than 1030px */
  }
}
.services-horizontal-scrollbar::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 10px;
}

/* Style the scrollbar thumb */
.services-horizontal-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

/* HTML: <div class="triangle"></div> */
.triangle {
  height: 100px;
  aspect-ratio: 2;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.polygon {
  width: 100px;
  aspect-ratio: 1;
  clip-path: polygon(
    93.3% 75%,
    50% 100%,
    6.7% 75%,
    6.7% 25%,
    50% 0%,
    93.3% 25%
  );
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

.form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container2 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
}

.form-container {
  position: absolute;
  top: 0;
  height: fit-content;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  z-index: 2;
}

.container2.right-panel-active .sign-in-container {
  transform: translateX(65%);
}

.sign-up-container {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.container2.right-panel-active .sign-up-container {
  transform: translateX(65%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@media screen and (max-width: 768px) {
  .container2.right-panel-active .sign-up-container {
    transform: translateX(0%);
  }
  .form {
    padding: 0 10px;
  }
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 10;
}

.container2.right-panel-active .overlay-container {
  transform: translateX(-150%);
}

.overlay {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container2.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-50%);
}

.container2.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container2.right-panel-active .overlay-right {
  transform: translateX(20%);
}
