@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.gradient-background-horizontal {
  background: linear-gradient(90deg, #522182 0%, #904db6 47.12%, #4f1c54 100%);
}
